.header
  .header-left
    = link_to 'javascript:history.back()', class: "back-button" do
      = image_tag 'back.png'
  .header-title
    = current_user.account_id
  .header-right
    = link_to I18n.t('log_out'), destroy_user_session_path, method: :delete

.container
  .profile-header
    - if @profile.avatar.attached?
      = image_tag @profile.avatar, class: "profile-pic", id: "profile-pic"
    - else
      = image_tag 'dummy_profile.png', class: "profile-pic", id: "profile-pic"

    %input{ type: "file", id: "profile-pic-input", style: "display: none;", accept: "image/jpeg, image/png, image/gif" }
    .profile-header-display_name
      = current_user.profile.display_name

  .profile-stats
    .profile-stats-posts
      %h4 #{I18n.t('posts')}
      = @post_count
    = link_to profile_followers_path, class: 'profile-stats-followers' do
      %h4 #{I18n.t('followers')}
      = @followers_count
    = link_to profile_followings_path, class: 'profile-stats-followings' do
      %h4 #{I18n.t('followings')}
      = @following_count

  .profile-post-images
    - @user_posts.each do |post|
      = link_to post_path(post) do
        = image_tag post.images.first

  .footer-container
    - if I18n.locale == :en
      = link_to '日本語に切り替え', url_for(locale: :ja)
    - else
      = link_to 'Switch to English', url_for(locale: :en)

= javascript_pack_tag 'profile'


