.header
  .header-left
    = link_to :back, class: "back-button" do
      = image_tag 'back.png'
  .header-title
    = current_user.account_id
  .header-right

.container
  .profile-header
    - if @profile.avatar.attached?
      = image_tag @profile.avatar, class: "profile-pic", id: "profile-pic"
    - else
      = image_tag 'dummy_profile.png', class: "profile-pic", id: "profile-pic"

    %input{ type: "file", id: "profile-pic-input", style: "display: none;", accept: "image/jpeg, image/png, image/gif" }
    .profile-header-display_name
      = @profile.display_name

  .profile-stats
    .profile-stats-posts
      %h4 Posts
      = @post_count
    .profile-stats-followers
      %h4 Followers
      = @followers_count
    .profile-stats-followings
      %h4 Followings
      = @following_count

= javascript_pack_tag 'profile'


