.header
  .header-left
    = link_to 'javascript:history.back()', class: "back-button" do
      = image_tag 'back.png'
  .header-title
    = I18n.t('comment')

.comment-container{data: {post_id: @post.id}}

.comment-form
  = text_area_tag :comment_content
  .add-comment-button
    = button_tag I18n.t('add_comment'), class: 'btn-secondary'

= javascript_pack_tag 'comment.js'