.header
  .header-left
    = link_to new_post_path do
      = image_tag 'photo-camera.png'
  .header-title index
  .header-right


.container
  -@posts.each do |post|
    .post-container
      .profile-container
        = image_tag post.user.profile.avatar, class: 'profile-pic'
        .profile-description
          .post-username= post.user.account_id
          .post-time= time_ago_in_words(post.created_at) + " ago"

      - if post.images.attached?
        .post-images{ class: "grid-#{post.images.count}" }
          - post.images.each do |image|
            = image_tag image, class: "post-image"

      .post-actions
        = image_tag 'inactive-heart.png'
        = image_tag 'comments.png'
        = link_to "https://twitter.com/share?ref_src=twsrc%5Etfw", data: { show_count: false } do
          = image_tag 'share.png'

      .likes
        %span- 0 likes

      .caption
        %span.username= post.user.account_id
        %span= post.content