.header
  .header-left
    = link_to I18n.t('cancel'), posts_path, class: 'back-button'
  .header-title
    = I18n.t('new_post')
  .header-right

.container
  .profile-container
    - if current_user.profile&.avatar&.attached?
      = image_tag current_user.profile.avatar, class: 'profile-pic'
    - else
      = image_tag 'dummy_profile.png', class: 'profile-pic'
    .profile-description
      = current_user.account_id

  .form-container
    = form_with model: @post, url: posts_path, method: 'post', multipart: true, local: true do |f|
      = f.text_field :content, placeholder: I18n.t('post_placeholder'), class: 'text'
      = f.file_field :images, multiple: true
      = f.submit I18n.t('post'), class: 'btn-secondary'

  .error-messages
    - @post.errors.full_messages.each do |message|
      %li= message
