.header
  .header-left
    = link_to 'javascript:history.back()', class: "back-button" do
      = image_tag 'back.png'
  .header-title
    = I18n.t('followers')

- @followers.each do |follower|
  = link_to account_path(follower) do
    .follow-container
      .follow-box
        = image_tag follower.profile.display_avatar, class: 'profile-image'
        .follow-content
          .follow-name
            = follower.account_id
          .follow-login-time
            %span #{I18n.t('login_time')}
