.header
  .header-left
    = link_to 'javascript:history.back()', class: "back-button" do
      = image_tag 'back.png'
  .header-title
    = I18n.t('followings')

- @followings.each do |following|
  = link_to account_path(following) do
    .follow-container
      .follow-box
        = image_tag following.profile.display_avatar, class: 'profile-image'
        .follow-content
          .follow-name
            = following.account_id
          .follow-login-time
            %span #{I18n.t('login_time')}
