.header{data: { account_id: @user.id}}
  .header-left
    = link_to 'javascript:history.back()', class: "back-button" do
      = image_tag 'back.png'
  .header-title
    = @user.account_id
  .header-right
    .unfollow-button.hidden
      = I18n.t('unfollow')
    .follow-button.hidden
      = I18n.t('follow')

.container
  .profile-header
    - if @profile&.avatar&.attached?
      = image_tag @profile.avatar, class: "profile-pic", id: "profile-pic"
    - else
      = image_tag 'dummy_profile.png', class: "profile-pic", id: "profile-pic"

    %input{ type: "file", id: "profile-pic-input", style: "display: none;" }

  .profile-stats
    .profile-stats-posts
      %h4 #{I18n.t('posts')}
      = @post_count
    = link_to account_followers_path(@user), class: 'profile-stats-followers' do
      %h4 #{I18n.t('followers')}
      %span{class: "followers-count"}= @followers_count
    = link_to account_followings_path(@user), class: 'profile-stats-followings' do
      %h4 #{I18n.t('followings')}
      = @following_count

= javascript_pack_tag 'account'
