.header
  .header-left
    = link_to :back, class: "back-button" do
      = image_tag 'back.png'
  .header-title
    = @user.account_id
  .header-right
    = link_to "Unfollow", account_unfollows_path(account_id: @user.id), method: :post, class: "unfollow-button hidden"
    = link_to "Follow", account_follows_path(account_id: @user.id), method: :post, class: "follow-button hidden"

.container
  .profile-header
    - if @profile&.avatar&.attached?
      = image_tag @profile.avatar, class: "profile-pic", id: "profile-pic"
    - else
      = image_tag 'dummy_profile.png', class: "profile-pic", id: "profile-pic"

    %input{ type: "file", id: "profile-pic-input", style: "display: none;" }

  .profile-stats
    .profile-stats-posts
      %h4 Posts
      = @post_count
    .profile-stats-followers
      %h4 Followers
      = @followers_count
    .profile-stats-followings
      %h4 Followings
      = @following_count

= javascript_pack_tag 'account'
